extends layout

block title
    title Mis Pokémon - PokéBack

block content
    h1 Mis Pokémon

    if pokemons.length === 0
        p No tienes ningún Pokémon todavía

    each pokemon in pokemons
        article
            h2 #{pokemon.Pokemon.name}
            p Tipo: #{pokemon.Pokemon.type}
            p HP: #{pokemon.current_hp}
            p Ataque: #{pokemon.current_attack}
            p Velocidad: #{pokemon.current_speed}